:root{
    --main-color:#9356DC ;
    --second-color:#FF79DA ;
    --third-color:#99E2D0;
    --footer:#353535;
}

@media screen and (max-width:768px){
    footer{
        background-color: var(--footer);
        color: white;
        padding: 6%;
    }

    .svg-footer{
        display: flex;
        align-items: center;
    }

    .svg-footer p{
        margin-left: 10px;
    }
}

