header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  gap: 28%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header img {
  width: 45%;
}
header a i {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  header {
    gap: 40%;
  }
  header img {
    width: 15%;
  }
  header a i {
    font-size: 3em;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 6%;
}

.content-footer {
  display: flex;
  flex-direction: column;
}

footer p {
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 10px 5px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.i-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.i-footer p {
  margin: 5px 10px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 6% 3% 3% 0;
  }
  .content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .content-footer svg {
    width: 20%;
    order: 1;
  }
  .content-footer .i-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-footer .text-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    order: 0;
    gap: 30px;
  }
  .content-footer .text-footer p {
    margin: 0 5px;
  }
  .content-footer .text-footer-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.button {
  padding-top: 30px;
  text-align: center;
}

button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 2% 6%;
  color: white;
}

@media screen and (min-width: 768px) {
  button {
    font-size: 16px;
  }
}
.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  padding-left: 15px;
}
.card:hover > .square {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform left 1000ms;
}
.card .square {
  height: 100%;
  display: none;
  padding: 0 20px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.card-descrip {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #353535;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: loader 2s linear;
}
.container-loader svg {
  margin-bottom: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: 0deg;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h1,
h2,
p,
a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

.background-image {
  width: 100%;
}
.background-image img {
  width: 100%;
}

section {
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0px 0px;
  padding: 15px;
  background-color: #fff;
}

.font {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font h1 {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}

@media screen and (min-width: 768px) {
  section {
    margin: 0 15%;
  }
}

/*# sourceMappingURL=restaurant.css.map */
