@import "./var/var.scss";

@import "./layout/resto/header-r.scss";
@import "./layout/footer.scss";

@import "./components/button.scss";
@import "./components/menu-card.scss";
@import "./components/loader.scss";
@import "./components/heart.scss";

h1,
h2,
h3,
p,
a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}


body{
    margin: 0;
    padding: 0;
    background-color: $background-color;
}


.background-image{
    width: 100%;
    img{
        width: 100%;
        object-fit: cover;
    }
}

section{
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0px 0px;
    padding: 15px;
    background-color: #fff;
}



.font {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    h1{
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
    }

    I{
        font-size: 20px;
    }
    
}


.ent-pla-des{
    & h3{
        text-decoration: none;
        font-weight: 300;
    
        &::after{
            content: "";
            display: block;
            width: 12%;
            height: 1px; 
            bottom: 0; 
            left: 0;
            border-bottom: 2px solid $third-color;
        }
    }
}


@media screen and (min-width:768px) {
    section{
        margin: 0 15%;
    }

    .background-image{
        img{
            height: 500px;
        }
    }


    .ent-pla-des{
        & h3{        
            &::after{
                width: 6%;
            }
        }
    }

    .card{
        h3, p{
            word-break: normal;
        }
    }
}