@import "./var/var.scss";

@import "./components/loader.scss";
@import "./components/accueil-card.scss";
@import "./components/heart.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";


h1,
h2,
p,
a,
button,
article{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}


body{
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

section{
    padding: 3%;
}

main{
    padding-bottom: 15%;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:#EAEAEA;

    p{
        font-weight: 500;
    }
}

.text{
    margin: 0 5%;
    text-align: center;

    button{
        border: none;
        color: white;
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        background: linear-gradient(200.64deg, $main-color -5.2%, $second-color 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }
}

.fonctionnement{
    background-color: white;
    padding: 30px;
}


.lists{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    i{
        color: #7e7e7e;
    }

    &:hover{
        background-color: #F5EDFF;
        i{
            color: $main-color;
        }
    }


    .num-list{
        width: 20px;
        height: 20px;
        background-color: $main-color;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -25px
    }
}

@import "./responsive/responsive.scss";