@import "./var/var.scss";

@import "./components/loader.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";



h1,
h2,
p,
a,
button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}


body{
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

section{
    padding: 0 3%;
}

main{
    padding-bottom: 15%;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:#EAEAEA;
}

.text{
    margin: 0 5%;
    text-align: center;

    button{
        border: none;
        color: white;
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        background: linear-gradient(200.64deg, $main-color -5.2%, $second-color 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }
}

.fonctionnement{
    background-color: white;
}


.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lists{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    i{
        color: #7e7e7e;
    }

    &:checked{
        background-color: #F5EDFF;
        i{
            color: $main-color;
        }
    }


    .num-lists{
        width: 20px;
        height: 20px;
        background-color: $main-color;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
}




.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.card{
    width: 100%;
    margin: 0;

    img{
        width: 100%;
        height: 231px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    
    i{
    }

    i:active{
        color: $main-color;
    }
}

article{
    width: 100%;
    margin: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    .descrip-card{
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        div h2{
            margin-bottom: 0;
        }

        div p{
            margin-top: 5px;
        }
        

    }
    
}