$footer: #353535;

footer{
    background-color: $footer;
    color: white;
    padding: 6%;
    margin-top: 30px;
}

footer p{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 10px 5px 0px;
}

.i-footer{
    display: flex;
    align-items: center;
}

.i-footer p{
    margin: 5px 10px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}



