body {
  -webkit-animation: overflow 2s forwards;
  animation: overflow 2s forwards;
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}
.container-body {
  visibility: hidden;
  opacity: 0;
  animation: body 3s forwards;
}

.container-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background-color: #353535;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: loader 2s forwards;
}
.container-loader svg {
  margin-bottom: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: 0deg;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes body {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  25% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  position: relative;
  width: 100%;
  margin: 0;
}
.card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card i:active {
  color: #9356DC;
}
.card .nouveau {
  width: 80px;
  position: absolute;
  top: 0;
  right: 0.29px;
  padding-right: 20px;
}
.card .nouveau p {
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 8px;
  color: #008766;
  background-color: #99E2D0;
}

article {
  width: 100%;
  margin: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
article .descrip-card {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article .descrip-card div h2 {
  margin-bottom: 0;
}
article .descrip-card div p {
  margin-top: 5px;
}

.heart {
  position: relative;
}
.heart .full-heart {
  position: relative;
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
}
.heart .empty-heart {
  position: absolute;
  top: 0;
  right: 0;
}
.heart:hover .empty-heart {
  opacity: 0;
  transform: scale(1);
}
.heart:hover .full-heart {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(1.2);
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}
header img {
  width: 40%;
}

@media screen and (min-width: 768px) {
  header {
    padding: 2%;
  }
  header img {
    width: 15%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 6%;
}

.content-footer {
  display: flex;
  flex-direction: column;
}

footer p {
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 10px 5px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.i-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.i-footer p {
  margin: 5px 10px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 6% 3% 3% 0;
  }
  .content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .content-footer svg {
    width: 20%;
    order: 1;
  }
  .content-footer .i-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-footer .text-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    order: 0;
    gap: 30px;
  }
  .content-footer .text-footer p {
    margin: 0 5px;
  }
  .content-footer .text-footer-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
h1,
h2,
p,
a,
button,
article {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

section {
  padding: 3%;
}

main {
  padding-bottom: 15%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #EAEAEA;
}
.search-bar p {
  font-weight: 500;
}

.text {
  margin: 0 5%;
  text-align: center;
}
.text button {
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.fonctionnement {
  background-color: white;
  padding: 30px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.list i {
  color: #7e7e7e;
}
.list:hover {
  background-color: #F5EDFF;
}
.list:hover i {
  color: #9356DC;
}
.list .num-list {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -25px;
}

@media screen and (min-width: 768px) {
  /************************************************************************/
  /*********************************ACCUEIL********************************/
  /************************************************************************/
  main {
    padding: 0;
  }
  section {
    padding: 3% 15%;
  }
  .fonctionnement {
    padding: 3% 15%;
  }
  .text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }
  .text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
  .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .list {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    width: 33%;
  }
  .list:hover {
    background-color: #F5EDFF;
  }
  .list:hover i {
    color: #9356DC;
  }
  .resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resto .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
  }
  .resto .card {
    width: 45%;
    margin-bottom: 80px;
  }
  /************************************************************************/
  /**********************************RESTO*********************************/
  /************************************************************************/
}

/*# sourceMappingURL=style.css.map */
