.button{
    padding-top: 30px;
    text-align: center;
    font-weight: 500;
}

button{
    background: linear-gradient(200.64deg, $main-color -5.2%, $second-color 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    padding: 5% 10%;
    color: white;

    &:hover{
        background: linear-gradient(200.64deg, lighten($main-color, 10%) -5.2%, lighten($second-color, 10%) 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}


@media screen and (min-width:768px) {
    button{
        font-size: 16px;
        padding: 1.5% 4.5%;
    }
}

