@media screen and (min-width:768px) {
/************************************************************************/    
/*********************************ACCUEIL********************************/    
/************************************************************************/    
    main{
        padding: 0;
    }

    section{
        padding: 3% 15%;
    }
    
    .fonctionnement{
        padding: 3% 15%;
    }

    .text{
        h1{
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
        }
        p{
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }
    }


    .lists{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list{
        display: flex;
        justify-content: flex-start;
        gap: 3%;
        width: 33%;

        &:hover{
            background-color: #F5EDFF;
            i{
                color: $main-color;
            }
        }
    }

   .resto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cards{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10%;
        }

        .card{
            width: 45%;
            margin-bottom: 80px;
        }
    }
/************************************************************************/    
/**********************************RESTO*********************************/    
/************************************************************************/





}

